name: Rubocop

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  rubocop:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@a699edbce608a2c128dedad88e3b6a0e28687b3c
        with:
          ruby-version: 2.6.6
          bundler-cache: true

      - name: Install gems
        run: |
          gem install rubocop
          gem install rubocop-minitest
          gem install rubocop-performance

      - name: Run Rubocop
        run: rubocop --except Metrics
